mixin renderAttribute(attribute, value)
    .attribute
        p #{attribute.description} #{value}

        if attribute.type === constants.BOOLEAN
            p Boolean:
                input(type='checkbox', checked=value)
        else if attribute.type === constants.STRING
            p String:
                input(type='text', value=value)
        else if attribute.type === constants.NUMBER
            p Number:
                input(type='number', value=value)
        else if attribute.type === constants.COLLECTION
            h2 Collection:
            p Count: #{attribute.count}
            //+renderEndpoint(attribute.response, value.actual)

mixin renderEndpoint(description, actual)
    ul.response
        each attribute, attributeName in description
            li #{attributeName}:
                +renderAttribute(attribute, actual[attributeName])

doctype html
html(lang="en-GB")
    head
        title Fake API Server Config Page
    body
        h1 Available APIs

        ul.apis
            each api in apiFiles
                li.api
                    p Path: #{api.path} - #{api.type} - #{api.name}
                    iframe(src=api.path)
                    +renderEndpoint(api.response, api.actual)

