mixin renderApi(api)
    .response
        p #{api.description}

        if api.type === 0
            input(type='checkbox')
        else if api.type === 1
            input(type='text')
        else if api.type === 2
            input(type='number')

doctype html
html(lang="en-GB")
    head
        title Fake API Server Config Page
    body
        h1 Available APIs

        ul.apis
            each api in apiFiles
                li.api
                    p Path: #{api.path} - #{api.type} - #{api.name}
                    iframe(src=api.path)
                    ul.response
                        each val, index in api.response 
                            li #{index}:
                                +renderApi(val)

