mixin renderApi(api)
    .response
        p #{api.description}

        if api.type === constants.BOOLEAN
            p Boolean
                input(type='checkbox')
        else if api.type === constants.STRING
            p String
                input(type='text')
        else if api.type === constants.NUMBER
            p Number
                input(type='number')
        else if api.type === constants.COLLECTION
            h2 Collection
            p Count: #{api.count}
            +renderResponse(api.response)

mixin renderResponse(response)
    ul.response
        each val, index in response 
            li #{index}:
                +renderApi(val)
doctype html
html(lang="en-GB")
    head
        title Fake API Server Config Page
    body
        h1 Available APIs

        ul.apis
            each api in apiFiles
                li.api
                    p Path: #{api.path} - #{api.type} - #{api.name}
                    iframe(src=api.path)
                    +renderResponse(api.response)

