mixin renderAttribute(attribute)
    .attribute
        p #{attribute.description}

        if attribute.type === constants.BOOLEAN
            p Boolean
                input(type='checkbox')
        else if attribute.type === constants.STRING
            p String
                input(type='text')
        else if attribute.type === constants.NUMBER
            p Number
                input(type='number')
        else if attribute.type === constants.COLLECTION
            h2 Collection
            p Count: #{attribute.count}
            +renderEndpoint(attribute.response)

mixin renderEndpoint(response)
    ul.response
        each attribute, attributeName in response 
            li #{attributeName}:
                +renderAttribute(attribute)
doctype html
html(lang="en-GB")
    head
        title Fake API Server Config Page
    body
        h1 Available APIs

        ul.apis
            each api in apiFiles
                li.api
                    p Path: #{api.path} - #{api.type} - #{api.name}
                    iframe(src=api.path)
                    +renderEndpoint(api.response)

