
mixin renderAttribute(attribute, value)
    .attribute
        p #{attribute.description}

        if attribute.type === types.BOOLEAN
            p Boolean:
                input(type='checkbox', checked=value)

        else if attribute.type === types.STRING
            p String:
                input(type='text', value=value)

        else if attribute.type === types.NUMBER
            p Number:
                input(type='number', value=value)

        else if attribute.type === types.OBJECT
            div Object:
            +renderResponse(attribute.response, value)

        else if attribute.type === types.COLLECTION
            h2 Collection:
            p Count: #{attribute.count}
            +renderCollection(attribute.response, value)

mixin renderResponse(description, actual)
    ul.response
        each attribute, attributeName in description
            li #{attributeName}:
                +renderAttribute(attribute, actual[attributeName])

mixin renderCollection(collection, values)
    each value in values
        +renderResponse(collection, value)

